<h1> Here are all of the Users: </h1>
<h2> -------------------------------------- </h2>

<h2> <%= link_to "Create", new_user_path %> </h2>

<% @users.each do |user| %>
<ul>
    <h2> <%= user.username %>: </h2>
    <li> <h3> Alias: </h3> <%= user.alias  %> </li>
    <li> <h3> Bio: </h3> <%= user.bio  %> </li>
    <li> <h3> Links: </h3> </li>
    <p> Reviews </p>
    <p> Games </p> 
     <li> <%= link_to "Edit", edit_user_path(user) %> </li>
     <li> <%= link_to "Show", user_path(user) %> </li>
    <li> <%= button_to "Delete", user, :method => :delete %> </li>



    </ul>
<% end %>

