<h1>Review a game!</h1>

<% if flash[:errors] %>
  <h3 style='color: red;'>
    Error: <%= flash[:errors].first %>
  </h3>
<% end %>

<%= form_for @review, method: :post do |f| %>

    What game is being reviewed:
         <%= f.collection_select(:game_id, Game.all, :id, :name) %> <br /><br />
    Who's reviewing this game:
         <%= f.collection_select(:user_id, User.all, :id, :username) %> <br /><br />


    Score out of 5 ( #/5 ): <%= f.text_field :score %> <br>
    Content: <%= f.text_area :content %> <br>


<%= f.submit %>
<% end %>